# Terraform directories
.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files (may contain secrets)
*.tfvars

# SSH private keys
*.pem

# Terraform lock file
.terraform.lock.hcl
aws/
awscliv2.zip
terraform_*.zip


.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.pem
.terraform.lock.hcl
